* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #dbe4f6;
    --dark-blue: #0b1e44;
    --very-dark-blue: #010e25;
    --black: black;
    --light-blue-text: #eef2fa;
    --blue-inputs: #3D5A98;
    --blue-buttons: #CAEFF6;
    --grey-buttons-inputs-border: #eef2fa81;
}

body {
    background-color: var(--bg-color);
}
html::-webkit-scrollbar { 
    display: none;
}
#app{
    overflow-x: hidden;
}
.RouterLink {
    text-decoration: none;
}
